.gradle/
build/
local.properties
*.log
.idea/
*.iml
*.hprof
captures/
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.hprof
*.so
*.obj
*.o
*.a
*.bin
*.lock
*.gz
*.zip
*.tar
*.tgz
*.lz4
*.zstd
.externalNativeBuild/
.cxx/
/build/
output.json
*.jks
*.keystore
.classpath
.project
.settings/
.DS_Store
Thumbs.db
desktop.ini
*.swp
proguard/
proguard-rules.pro
*.orig
*.rej